<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wky.dao.repository.UserMapper">
  <resultMap id="BaseResultMap" type="com.wky.dao.entity.User">
    <id column="pk_id" jdbcType="INTEGER" property="pkId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="rebate_balance" jdbcType="DECIMAL" property="rebateBalance" />
    <result column="spread_balance" jdbcType="DECIMAL" property="spreadBalance" />
    <result column="leader_phone" jdbcType="VARCHAR" property="leaderPhone" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="sub_total_money" jdbcType="DECIMAL" property="subTotalMoney" />
    <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
    <result column="is_mobile" jdbcType="TINYINT" property="isMobile" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    pk_id, account, password, pay_password, salt, open_id, nickname, sex, avatar, level, 
    rebate_balance, spread_balance, leader_phone, total_money, sub_total_money, invite_code, 
    is_mobile, status, is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where pk_id = #{pkId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where pk_id = #{pkId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wky.dao.entity.User">
    insert into t_user (pk_id, account, password, 
      pay_password, salt, open_id, 
      nickname, sex, avatar, 
      level, rebate_balance, spread_balance, 
      leader_phone, total_money, sub_total_money, 
      invite_code, is_mobile, status, 
      is_delete, create_time, update_time
      )
    values (#{pkId,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{payPassword,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{avatar,jdbcType=VARCHAR}, 
      #{level,jdbcType=TINYINT}, #{rebateBalance,jdbcType=DECIMAL}, #{spreadBalance,jdbcType=DECIMAL}, 
      #{leaderPhone,jdbcType=VARCHAR}, #{totalMoney,jdbcType=DECIMAL}, #{subTotalMoney,jdbcType=DECIMAL}, 
      #{inviteCode,jdbcType=VARCHAR}, #{isMobile,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{isDelete,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wky.dao.entity.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        pk_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="payPassword != null">
        pay_password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="rebateBalance != null">
        rebate_balance,
      </if>
      <if test="spreadBalance != null">
        spread_balance,
      </if>
      <if test="leaderPhone != null">
        leader_phone,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="subTotalMoney != null">
        sub_total_money,
      </if>
      <if test="inviteCode != null">
        invite_code,
      </if>
      <if test="isMobile != null">
        is_mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pkId != null">
        #{pkId,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null">
        #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="rebateBalance != null">
        #{rebateBalance,jdbcType=DECIMAL},
      </if>
      <if test="spreadBalance != null">
        #{spreadBalance,jdbcType=DECIMAL},
      </if>
      <if test="leaderPhone != null">
        #{leaderPhone,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="subTotalMoney != null">
        #{subTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="inviteCode != null">
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="isMobile != null">
        #{isMobile,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wky.dao.entity.User">
    update t_user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="payPassword != null">
        pay_password = #{payPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="rebateBalance != null">
        rebate_balance = #{rebateBalance,jdbcType=DECIMAL},
      </if>
      <if test="spreadBalance != null">
        spread_balance = #{spreadBalance,jdbcType=DECIMAL},
      </if>
      <if test="leaderPhone != null">
        leader_phone = #{leaderPhone,jdbcType=VARCHAR},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="subTotalMoney != null">
        sub_total_money = #{subTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="inviteCode != null">
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="isMobile != null">
        is_mobile = #{isMobile,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pk_id = #{pkId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wky.dao.entity.User">
    update t_user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      pay_password = #{payPassword,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      avatar = #{avatar,jdbcType=VARCHAR},
      level = #{level,jdbcType=TINYINT},
      rebate_balance = #{rebateBalance,jdbcType=DECIMAL},
      spread_balance = #{spreadBalance,jdbcType=DECIMAL},
      leader_phone = #{leaderPhone,jdbcType=VARCHAR},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      sub_total_money = #{subTotalMoney,jdbcType=DECIMAL},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      is_mobile = #{isMobile,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where pk_id = #{pkId,jdbcType=INTEGER}
  </update>
</mapper>